@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/*   
font-family: "Source Code Pro", monospace;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal; 
  */

/* Color Theme Swatches in Hex */
.Something-Modern-Colour-Palette-Neutral-1-hex {
  color: #ffffff;
}
.Something-Modern-Colour-Palette-Neutral-2-hex {
  color: #ebebeb;
}
.Something-Modern-Colour-Palette-Neutral-3-hex {
  color: #181722;
}
.Something-Modern-Colour-Palette-Neutral-4-hex {
  color: #393f4a;
}
.Something-Modern-Colour-Palette-Neutral-5-hex {
  color: #dcd2cc;
}
.Something-Modern-Colour-Palette-Neutral-6-hex {
  color: #8a7875;
}

/* Color Theme Swatches in RGBA */
.Something-Modern-Colour-Palette-Neutral-1-rgba {
  color: rgba(255, 255, 255, 1);
}
.Something-Modern-Colour-Palette-Neutral-2-rgba {
  color: rgba(235, 235, 235, 1);
}
.Something-Modern-Colour-Palette-Neutral-3-rgba {
  color: rgba(24, 23, 34, 1);
}
.Something-Modern-Colour-Palette-Neutral-4-rgba {
  color: rgba(57, 63, 74, 1);
}
.Something-Modern-Colour-Palette-Neutral-5-rgba {
  color: rgba(220, 210, 204, 1);
}
.Something-Modern-Colour-Palette-Neutral-6-rgba {
  color: rgba(138, 120, 117, 1);
}

/* Color Theme Swatches in HSLA */
.Something-Modern-Colour-Palette-Neutral-1-hsla {
  color: hsla(0, 0, 100, 1);
}
.Something-Modern-Colour-Palette-Neutral-2-hsla {
  color: hsla(0, 0, 92, 1);
}
.Something-Modern-Colour-Palette-Neutral-3-hsla {
  color: hsla(245, 19, 11, 1);
}
.Something-Modern-Colour-Palette-Neutral-4-hsla {
  color: hsla(218, 12, 25, 1);
}
.Something-Modern-Colour-Palette-Neutral-5-hsla {
  color: hsla(22, 18, 83, 1);
}
.Something-Modern-Colour-Palette-Neutral-6-hsla {
  color: hsla(8, 8, 50, 1);
}

* {
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #181722;
}

a:visited {
  text-decoration: none;
  color: #181722;
}

body {
  margin: 0;
}

/* HEADER */

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: #181722 solid 1px;
  z-index: 1;
  background-color: rgba(235, 235, 235, 0.8);
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  color: #181722;
  text-align: center;
  z-index: 2;
}

.header-nav-btn:hover {
  text-decoration: overline;
}

.header-nav-logo {
  transition: 0.3s;
}

.header-nav-logo:hover {
  transform: scale(1.1, 1.1);
}

.header-nav-logo img {
  height: 45px;
  width: 45px;
}
@media screen and (min-width: 768px) {
  .mobile_dropdown {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-nav-btn {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .dropdown-btn {
    display: none;
  }

  #dropdown-menu {
    display: none;
  }

  .dropdown-content {
    display: none;
  }
}

/* DROPDOWN MENU */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a:hover {
  background-color: rgba(220, 210, 204, 1);
}

.dropdown-btn {
  background: none;
  color: #181722;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropdown-btn:hover,
.dropdown-btn:focus {
  text-decoration: overline;
}

.dropdown-content {
  margin: 0;
  display: none;
  position: absolute;
  background-color: rgba(235, 235, 235, 0.8);
  min-width: 120px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: #181722;
  text-decoration: none;
  display: block;
  z-index: 2;
  transition: 0.3s;
  margin: 7px;
}

.show {
  display: block;
  margin: 23px 0 0 -25px;
  border: #181722 solid 1px;
}

/* MOBILE DROPDOWN */

.mobile_dropdown-btn {
  background: none;
  color: #181722;
  border: none;
  padding: 0;
  font-size: 20px;
}

.mobile_dropdown-content {
  margin: 0;
  display: none;
  position: absolute;
  background-color: rgba(235, 235, 235, 0.8);
  min-width: 120px;
  overflow: auto;
  z-index: 1;
}

.mobile_dropdown-content a {
  color: #181722;
  text-decoration: none;
  display: block;
  z-index: 2;
  transition: 0.3s;
  font-size: 20px;
  margin: 10px;
}

.mobile_show {
  text-align: center;
  display: block;
  margin: 22px 0 0 -45px;
  border: #181722 solid 1px;
}

/* IMAGE SLIDER */

.slider {
  position: relative;
  margin: 0;
  z-index: 0;
  border-bottom: rgba(24, 23, 34, 1) solid 1px;
}

.slide {
  height: 1050px;
  display: none;
}

.slide img {
  height: 1050px;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.slide.active {
  object-fit: cover;
  display: block;
}

.scroll_container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 1;
}

.scroll {
  padding: 100px;
  color: #181722;
  transition: 0.3s;
}

.scroll:hover {
  color: #dcd2cc;
  cursor: pointer;
}

/* CATALOGUE */

.catalogue-headline {
  text-align: center;
  margin: 40px;
}

.catalogue {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.catalogue-container {
  width: 81%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 238px;
  margin: 30px;
  overflow: hidden;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  transition: 0.3s;
}

.product-img:hover {
  transform: scale(1.02, 1.02);
}

.product-img img {
  height: 200px;
}

.product-title p {
  font-size: 16px;
  margin: 0;
}

.product-price p {
  font-size: 14px;
  margin: 0;
}

/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: column;
  min-height: 47vh;
}

.footer {
  margin: auto 0 0 0;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: #181722 solid 1px;
  background-color: rgba(235, 235, 235, 1);
}

.footer-list_nav {
  list-style: none;
  padding: 0;
}

.footer-list_contact {
  list-style: none;
  padding: 0;
}

.footer-logo {
  transition: 0.5s;
}

.footer-logo:hover {
  transform: scale(1.1, 1.1);
}

.footer-logo img {
  height: 45px;
  width: 45px;
}

.footer a {
  transition: 0.3s;
}

.footer a:hover {
  color: #dcd2cc;
  cursor: pointer;
}
